Source: ros-hydro-motoman-config
Section: misc
Priority: extra
Maintainer: Shaun Edwards <sedwards@swri.org>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-urdf
Homepage: http://ros.org/wiki/industrial_core
Standards-Version: 3.9.2

Package: ros-hydro-motoman-config
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-urdf
Description: The motoman_config package includes common configurations and 3D models for motoman manipulators
