Source: ros-hydro-motoman-sia5d-support
Section: misc
Priority: extra
Maintainer:  <shaun.edwards@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/motoman_sia5d_support
Standards-Version: 3.9.2

Package: ros-hydro-motoman-sia5d-support
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-joint-state-publisher, ros-hydro-motoman-driver, ros-hydro-robot-state-publisher, ros-hydro-rviz
Description: ROS Industrial support for the Motoman sia5d (and variants). This package contains configuration data, 3D models and launch files for Motoman sia5d manipulators. Specifications sia5d - Default Joint limits and maximum joint velocities are based on the information found in the online http://www.motoman.com/datasheets/sia5d.pdf All urdfs are based on the default motion and joint velocity limits, unless noted otherwise. Before using any of the configuration files and / or meshes included in this package, be sure to check they are correct for the particular robot model and configuration you intend to use them with.
